<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="card-header">Customer Detail</div>
                    <div class="header"><b>Fullname: {{ first_name }}  {{ last_name }} </b></div>
                    <div class="col-12">
                          <div>Firstname:{{ first_name }} </div>
                          <div>LastName: {{ last_name }}</div>
                          <div>Create date:{{ created_at }} </div>
                          <div>Updated date: {{ updated_at }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.getCustomer();
        },
        data() {
            return {
                first_name: 'Andreas',
                last_name: 'ABC',
                created_at: null,
                updated_at: null
            };

        },
        methods: {
            async getCustomer() {
                const {data} = await axios.get('/api/customers/7', {});
                this.first_name = data.first_name;
                this.last_name = data.last_name;
                this.created_at = data.created_at;
                this.updated_at = data.updated_at;
            }
        },
    }
</script>
