<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="col-12">
                    <div class="card-header">Add customer</div>

                    <div class="col-12">
                          <div>Firstname: <input v-model="first_name" /></div>
                          <div>LastName: <input v-model="last_name" /></div>
                          <button v-on:click='createCustomer()'>Add customer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                first_name: 'Andreas',
                last_name: 'ABC',
            };

        },
        methods: {
            createCustomer() {
                axios.post('/api/customers', {
                    first_name: this.first_name,
                    last_name: this.last_name
                }).then(() => {
                    this.first_name = null;
                    this.last_name = null;
                    alert('Add customer successfully');
                });;
            }
        },
    }
</script>
